*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;

}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/Nice_mid.jpg);
    background-size: cover;
    background-position: top;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 30%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: crimson;
    position: absolute;
    left: 50%;
    bottom :-4px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    left: 0%;
}

.header-text{
    margin-top: 10%;
    font-size: 20px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 25%;
}

.header-text h1 span{
    color: crimson;
}

/* ============ ABOUT =========== */

#about{
    padding: 80px;
    top: 30px;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-L{
    flex-basis: 35%;
}

.about-col-L img{
    width: 100%;
    border-radius: 20px;
}

.about-col-R{
    flex-basis: 60%;
}

.subtitle{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(220, 20, 60);
    position: absolute;
    left: 0;
    bottom :8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

/* ========= WORK ============ */

#work{
    padding: 30px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-gap: 5%;
    margin-top: 5%;
}

.work-list div{
    background-color: #262626;
    background-size: cover;
    background-position: center;
    /* padding: 40px; */
    padding-top: 120%;
    padding-bottom: 60%;
    border-radius: 20px;
}

.work-list h3{
    color: #fff;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    padding: 2%;
    background-color: #000;
    transition: 0.5s;
}

.work-list div:hover > h3{
    background-color: crimson;
    transform: translateY(-20%);
    width: 100%;
    left: 0%;
}


/* ========== CONTACT ============== */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 10%;
}


/* ======== DRAG BAR ========= */

.drag-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 20%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }